body {
  background-color: black;
}

div.amplitude-playing {
  color: #cf00cf !important;
}

div.player {
  border: solid grey 1px;
}

div.song {
  color: grey;
  width: 25%;
  border: solid grey 1px;
}

img.songlist-cover-image {
        width: auto;
        z-index: 0;
}

img.cursor {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 370px;
}

img.cover-image {
  z-index: 0;
  width: 100%;
}

span.song-title {
  z-index: 1;
  position: absolute;
  font-size: 12px;
}

span.time-remaining {
  z-index: 2;
  position: absolute;
  color: #cf00cf;
}

span.song-name {
  z-index: 2;
  position: absolute;
  color: #cf00cf;
}

/*
vim: ts=2 sw=2 expandtab
*/
